body {
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%,rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%),url(images/banner-img.jpg);
}

header {
    height: auto;
    top: 0px;
}

#main h1 {
    padding-top: 7%;
    text-align: center;
    color: #fff;
}

#main h2 {
    font-size: 33px;
    color: #00acc1;
    text-align: center;
}

header .btn1 {
    background-color: transparent;
    color: white;
    font-size: 14px;
    border: 1px solid #fff;
}

.logo-1 {
    height: 60px;
}

header nav {
    height: auto;
    border-bottom: 1px solid white;
}

.nav navbar-nav {
    float: left;
    margin-left: 100px;
}

.nav-left {
    padding: 15px;
}

.nav-link {
    font-size: 16px;
    color: white;
}

.banner-subheading {
    margin-top: 1%;
}

.banner-search {
    display: grid;
    margin-top: 2%;
    text-align: center;
    justify-content: center;
    color: #fff;
    width: 100%;
}

    .banner-search div {
        display: flex;
        justify-content: space-around;
    }

        .banner-search div h6 {
            font-size: 15px;
        }

    .banner-search select {
        background-color: transparent;
        color: #fff;
        border: none;
    }

.btn-search {
    background-color: #e53b51;
}
    .btn-search button {
    color: #fff;
    font-size: 21px;
}

.search-bar div {
    border: 1px solid #fff;
    font-size: 21px;
    align-items: center;
}
